<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kateandyana.hanoi_tower"
    android:installLocation="preferExternal">


    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:xlargeScreens="false"
    />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/kawai_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/kawai_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kateandyana.hanoi_tower.TutorialActivity"
            android:screenOrientation="landscape" >

            <intent-filter android:label="How to play hanoi tower">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="www.kateandyana.com"
                    android:pathPrefix="/hanoi_tower" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.kateandyana.hanoi_tower.MainActivity"

            android:label="Hanoi Tower"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kateandyana.hanoi_tower.GameActivity"
            android:label="Hanoi Tower Game"
            android:parentActivityName="com.kateandyana.hanoi_tower.MainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.kateandyana.hanoi_tower.ToolbarActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ToolbarTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>